# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# VS Code
.vscode/

# Dataset
dataset/
DIRS21/

# Ignore all training outputs
runs/*

!runs/detect/

!runs/detect/train-8/
!runs/detect/train-8/**

!runs/detect/yolo26n_20epochs/
!runs/detect/yolo26n_20epochs/**

!runs/detect/yolo26n_40epochs/
!runs/detect/yolo26n_40epochs/**

!runs/detect/yolo26n_60epochs/
!runs/detect/yolo26n_60epochs/**

!runs/detect/yolo26n_80epochs/
!runs/detect/yolo26n_80epochs/**

# Ignore model weights
*.pt

# Cache
*.cache

# System
.DS_Store
Thumbs.db